<dt class="icon_wrapper">
  <span {{bind-attr class='iconClass'}} data-test="flash-icon"></span>

  <span class="hidden" data-test="flash-type">
    {{type}}
  </span>
</dt>

<dd class="content" data-test="flash-content">
  {{!-- Allow HTML --}}
  {{{content}}}

  {{!-- Allow block helpers --}}
  {{yield}}
</dd>

{{#unless message.timed}}
<div class="button_wrapper">
  <button class="button">
    <span class="icon-close"></span>
    <span class="hidden">Close</span>
  </button>
</div>
{{/unless}}
