{{#if untimedMessages}}
  <ul class="ul">
    {{#each untimedMessages}}
      <li>
        {{flash-message
          message=this
        }}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if currentMessage}}
  {{flash-message
    message=currentMessage
  }}
{{/if}}
