{{#if untimedMessages}}
  <ul>
    {{#each untimedMessages}}
      <li>
        {{flash-message
          action='removeMessage'
          message=this
        }}
      </li>
    {{/each}}
  </ul>
{{/if}}

{{#if currentMessage}}
  {{flash-message
    action='removeMessage'
    message=currentMessage
  }}
{{/if}}
