<h2 id='title'>Welcome to Ember Flash Messages</h2>

<ul>
  <li>{{#link-to 'index'}}Home{{/link-to}}</li>
  <li>{{#link-to 'standalone-components'}}Standalone component use{{/link-to}}</li>
</ul>

{{outlet}}

{{flash-message-queue}}
