<ol>
  {{#each examples as |example index|}}
    <li>
      {{log}}
      <button {{action 'showMessage' index}}>
        {{example.content}}
      </button>
    </li>
  {{/each}}
</ol>

{{!-- TODO - place on another route --}}

{{!-- <h2>Static Messages</h2>

{{#flash-message type='hello'}}
  Testing block content {{#link-to 'index'}}and Handlebars{{/link-to}}
{{/flash-message}}

{{flash-message type='success' content='what?'}}
 --}}
