<button {{action 'showMessage' 'success' 'First messsge'}}>
  Show Message 1
</button>

<button {{action 'showMessage' 'error' 'Second message'}}>
  Show Message 2
</button>

<button {{action 'showMessage' 'error' 'Second message' 1000}}>
  Show Message 3 for 1000ms
</button>
