<ol>
  {{#each examples as |example|}}
    <li>
      <button {{action 'showMessage' _view.contentIndex}}>
        {{example.content}}
      </button>
    </li>
  {{/each}}
</ol>

<h2>Static Messages</h2>

{{#flash-message type='hello'}}
  Testing block content {{#link-to 'index'}}and Handlebars{{/link-to}}
{{/flash-message}}

{{flash-message type='success' content='what?'}}
